body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0; border:0;}
body,button,input,select,textarea{font:12px/1.6  "\5FAE\8F6F\96C5\9ED1";}/*5FAE\8F6F\96C5\9ED1  Verdana, Helvetica, sans-serif*/
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol,li{list-style:none;}
a:link,a:visited{color:#898989;text-decoration:none;}
a:hover,a:active{color:#898989;text-decoration:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
input{outline: none;}/* �����ı������ */
textarea {outline: none;} 
a{text-decoration:none;color:#333;outline:none;}
a:hover{text-decoration:none;color:#F40;outline:none;}
/* ���?�� */
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {zoom:1; /* for IE6 IE7 */}
.clear5{ clear:both; height:5px;}
.clear6{ clear:both; height:6px;}
.clear10{ clear:both; height:10px;}
.clear20{ clear:both; height:20px;}
.clear30{ clear:both; height:30px;}
.clear40{ clear:both; height:40px;}

body{ background:#000 url(../images/bodybg1.jpg) center repeat-y; font-family:"mircrosoft yahei","微软雅黑",Tahoma, Verdana, Arial, Geneva, sans-serif;}
html{-webkit-text-size-adjust:none;}/*chrome font-size<12px */ 
html, body {height: 100%;}
#treebox{position:fixed;bottom:0px; height:300px; width:320px; margin:0 auto; background:url(../images/tree.png) bottom no-repeat;background-size:320px 268px;
-moz-background-size:320px 268px;}

.container1{ margin:0 auto; width:320px; min-height:400px; height:100%; background:url(../images/bodybg2.jpg) top center no-repeat; background-size:320px 181px;
-moz-background-size:320px 181px;}
.container2{ margin:0 auto; width:320px; min-height:400px; height:100%; background:url(../images/bodybg4.jpg) top center no-repeat; background-size:320px 181px; -moz-background-size:320px 181px;}
#content1{ margin:0 auto; width:320px; min-height:400px; height:100%;background:url(../images/bodybg3.jpg) bottom center no-repeat; background-size:320px 187px;-moz-background-size:320px 187px;}
#content2{margin:0 auto; width:320px; min-height:400px; height:100%;background:url(../images/snowbg.png) center repeat-y; background-size:320px 370px;-moz-background-size:320px 370px;}

#content2 .logo{  width:320px; text-align:left;}
#content2 .logo a img{ height:15px; border:0; margin:15px 10px 20px 15px;}
#content2 .logotitle{ margin:0 15px; width:290px; text-align:left;}
#content2 .logotitle img{ width:260px; border:0;}

.giftbox:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.giftbox{zoom:1;}

#container .giftbox{ width:250px; margin:10px auto; position:relative;}
#container .giftbox li{ position:absolute; width:38px; height:38px;}
#container .giftbox li img{ width:38px; height:38px; border:0; }

#container .giftbox li.li1{ left:0; top:95px;}
#container .giftbox li.li2{ left:25px; top:50px;}
#container .giftbox li.li3{ left:60px; top:15px; }
#container .giftbox li.li4{ left:97px; top:-10px; }
#container .giftbox li.li5{ left:133px; top:12px; }
#container .giftbox li.li6{ left:172px; top:35px; }
#container .giftbox li.li7{ left:215px; top:70px; }
#container .giftbox li.li8{ left:40px; top:140px; }
#container .giftbox li.li9{ left:50px; top:100px; }
#container .giftbox li.li10{ left:70px; top:65px; }
#container .giftbox li.li11{ left:109px; top:45px;}
#container .giftbox li.li12{ left:98px; top:115px; }
#container .giftbox li.li13{ left:142px; top:72px; }
#container .giftbox li.li14{ left:150px; top:128px; }
#container .giftbox li.li15{ left:178px; top:90px; }
#container .giftbox li.li16{ left:200px; top:135px; }

#container .giftbox .tip{ position:absolute; left:-30px; top:185px; width:112px; height:45px; background:url(../images/tip.png) no-repeat;background-size:112px 45px;-moz-background-size:112px 45px;}

#container .btn_zmw{ height:41px; margin:254px auto 0; width:96px;}
#container .btn_zmw a{background:url(../images/btn_zmw.png) no-repeat; background-size:96px 41px;-moz-background-size:96px 41px; width:96px; height:41px; display:block;}
#container .btn_zmw a:hover{background:url(../images/btn_zmwon.png) no-repeat; background-size:96px 41px;-moz-background-size:96px 41px; width:96px; height:41px; display:block;}



label.checkbox {text-align:center; cursor:pointer; width:38px; height:38px; display:inline-block; } 
label.checked {-moz-border-radius:0 0 20px 20px;-webkit-
border-radius:20px 20px 20px 20px;border-radius:20px 20px 20px 20px;-webkit-box-shadow: 0px 0px 25px #fff948;-moz-box-
shadow: 0px 0px 25px #fff948;} 
label.disabled{}

.mydiv { background:none; text-align: center; font-size: 12px; z-index:99;  left:50%;/*FF IE7*/ top: 20px;/*FF IE7*/margin-left:-160px!important;/*FF IE7 ��ֵΪ������һ�� */ position:absolute;/*FF IE7*/    }  
.hidebg { width:100%; height:100%; background: #000; filter:alpha(opacity=80);/*IE*/ opacity:0.8;/*FF*/ z-index:1; position:absolute;/*IE6*/ position:fixed; left:0; top:0;} 
.divimg{ clear:both; width:320px; height:289px; margin:50px auto 0; text-align:center;}
.divimg img{width:280px; height:289px; border:0; vertical-align:middle;}
a.icon_close{ float:right; padding:15px 15px 0 0; width:15px; height:16px; background:url(../images/icon_close.png) no-repeat;background-size:15px 16px;-moz-background-size:15px 16px;}

/*圣诞卡*/
#cardbox{position:fixed;bottom:0px; height:286px; width:320px; margin:0 auto; background:url(../images/card.png) bottom no-repeat;background-size:320px 286px;
-moz-background-size:320px 286px;}
.card{ width:320px; height:200px; margin:0 auto; position:relative;}
.card li{ position:absolute; width:150px; height:50px;}
.card li.c1{left:160px; top:0;}
.card li.c2{left:30px; top:75px;}
.card li.c3{left:165px; top:145px;}
.card li img{ float:left; width:32px; height:32px; border:0; margin:10px 0 0 0;}
.card li div{ float:left; width:85px; margin:10px 0 0 0; line-height:10px; font-size:8px; color:#414141; text-align:center;}
.card li div h2{ font-size:10px; color:#414141; font-weight:normal;}


.btn_snow{ width:300px; margin:0 auto;}
.btn_snow a{ display:inline-block;}
a.btn1{ width:74px; height:40px; background:url(../images/btn1.png) no-repeat; margin:15px 10px;background-size:74px 40px;-moz-background-size:74px 40px;}
a.btn2{ width:81px; height:40px; background:url(../images/btn2.png) no-repeat; margin:15px 10px;background-size:81px 40px;-moz-background-size:81px 40px;}
a.btn3{ width:87px; height:40px; background:url(../images/btn3.png) no-repeat; margin:15px 0 15px 10px;background-size:87px 40px;-moz-background-size:87px 40px;}
a.btn4{ width:166px; height:40px; background:url(../images/btn4.png) no-repeat; margin:15px 10px;background-size:166px 40px;-moz-background-size:166px 40px;}
a.btn5{ width:90px; height:40px; background:url(../images/btn5.png) no-repeat; margin:15px 0 15px 10px;background-size:90px 40px;-moz-background-size:90px 40px;}

a.btn_del{ width:300px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#fff; text-decoration:none; background:#7b7538; display:inline-block; margin-top:20px;}
a:hover.btn_del{ background:#999350;}